.formContainer {
  margin-top: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.techStackChips {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  margin: 5px 0;
}

.submitButton {
  margin-top: 15px;
}
