.project{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px;
}

.project h1{
    color: rgb(22, 98, 98);
    text-align: center;
}

.card-badge{
    background-color: #138781;
    margin: 5px 5px;
    padding: 2px 5px;
    border-radius: 10px;
}

.card-body{
    text-align: center;
    /* background-color: red; */
}

.project-badge{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    /* padding: 5px; */
}

.project-card{
    /* background-color: red; */
    /* margin: 40px; */
    /* border: 2px solid red; */
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* background-color: rgb(241, 238, 238); */
}

.project-card img{
    width: 100%;
}

.project-button{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-button span{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.project-button a{
    /* background-color: red; */
    text-decoration: none;
    color: white;
}

.github{
    background-color: rgb(25, 25, 98);
    color: white;
}

.github:hover{
    background-color: white;
    border: 2px solid rgb(25,25,98);
    color: rgb(25,25,98);
}

.github:hover a{
    color: rgb(25,25,18);
}

.live-url{
    background-color: rgb(19, 94, 6);
    color: white;
}

.live-url:hover{
    background-color: white;
    border: 2px solid rgb(19, 94, 6);
    color: rgb(19, 94, 6);
}

.live-url:hover a{
    color: rgb(19, 94, 6);
}